.gradle/
build/
local.properties

*/build/

*.apk
*.ap_
*.aab
*.dex
*.class

.idea/
*.iml

stitch_clawdroid_premium_splash_screen/
context_management_implementation_plan.md
opencode_context_management_analysis.md
.gitignore
01EGGcracked.png
clawdroid_icon_1781132416221-compressd.png
context.md
meow_feature_brainstorm.md
clawdroid.db
